<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>Мы используем данные для показа рекламы</string>
	<key>IRON_SOURCE_INTERSTITIAL_AD_UNIT_ID</key>
	<string>$(IRON_SOURCE_INTERSTITIAL_AD_UNIT_ID)</string>
	<key>IRONSOURCE_APP_KEY</key>
	<string>$(IRONSOURCE_APP_KEY)</string>
	<key>APPLE_APP_ID</key>
	<string>$(APPLE_APP_ID)</string>
	<key>APPSFLYER_DEV_KEY</key>
	<string>$(APPSFLYER_DEV_KEY)</string>
	<key>APPMETRICA_API_KEY</key>
	<string>$(APPMETRICA_API_KEY)</string>
	<key>OPENAI_API_KEY</key>
	<string>$(OPENAI_API_KEY)</string>
</dict>
</plist>
